.footer-container{
    background-color: black;
    color: white;
    padding: 15px;
    
}
.menu-items .menu {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.menu-items .menu:hover{
    color: rgb(177, 5, 5);
}